/*
   Table of Contents
   =============================================================================
	0 
	1 
	2 
	3 
	4 
	5 
	6 
	7 
	8 
    9 
   =============================================================================
*/
/* =============================================================================
- Reset Stylesheet
============================================================================= */
@import url("https://fonts.googleapis.com/css2?family=Rubik&family=Work+Sans:wght@300;400;500;600&display=swap");
.button {
  color: #D21380;
  border-color: #FD83CB;
}

/* =============================================================================
- Tokens
============================================================================= */
body {
  font-size: 1em;
  line-height: 1.5;
  font-family: "Work Sans", sans-serif;
  color: #0E151C;
}