// Neutral colors

$gray0: #FFFFFF;
$gray50: #EDEDED;
$gray100: #E1E1E1;
$gray200: #D4D4D4;
$gray300: #C8C8C8;
$gray400: #BCBCBC;
$gray500: #808080;
$gray600: #0E151C;

// Alerts

    // Success
        $green100: #A6EC98;
        $green500: #00D504;
        $green600: #00A300;
    // Error
        $red100: #ffc8cc;
        $red500: #fc1b13;
        $red600: #dc0011;
    // Warning
        $orange100: #FFE0B2;
        $orange500: #ff9f29;
        $orange600: #D66F03;



$theme-1-primary: #FD34AA;
$theme-1-secondary: #D21380;
$theme-1-tertiary: #FD83CB;
$theme-1-quaternary: #FED5EE;


$theme-2-primary: #FDE744;
$theme-2-secondary: #7F7115;;
$theme-2-tertiary: #D3BE29;
$theme-2-quaternary: #FFFBD7;






