$tooltip-bg-color: #000;
$tooltip-text-color: #fff;
$tooltip-arrow-size: 5px;

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: $tooltip-bg-color;
  color: $tooltip-text-color;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  &::before, &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }
  &::before {
    border-width: $tooltip-arrow-size;
    margin-top: -$tooltip-arrow-size;
  }
  &::after {
    border-width: $tooltip-arrow-size;
  }
}

.tooltip.top .tooltip-text {
  top: 150%;
  bottom: auto;
  &::before {
    top: auto;
    bottom: 100%;
    border-color:transparent
}
}

.tooltip.left .tooltip-text {
    top: 50%;
    left: -125%;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: -60px;
    &::before {
    top: 50%;
    left: auto;
    right: 100%;
    margin-left: auto;
    margin-right: -$tooltip-arrow-size;
    border-color: transparent transparent transparent $tooltip-bg-color;
    }
    }
    
    .tooltip.right .tooltip-text {
    top: 50%;
    left: auto;
    right: -125%;
    transform: translateY(-50%);
    margin-left: -60px;
    margin-right: auto;
    &::before {
    top: 50%;
    left: 100%;
    margin-left: -$tooltip-arrow-size;
    border-color: transparent $tooltip-bg-color transparent transparent;
    }
    }
    
    .tooltip.bottom .tooltip-text {
    bottom: 150%;
    top: auto;
    &::before {
    top: 100%;
    bottom: auto;
    border-color: $tooltip-bg-color transparent transparent transparent;
    }
    }
    
    .tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    }


// <span class="tooltip top">Hover over me
//   <span class="tooltip-text">Top Tooltip text</span>
// </span>
// <span class="tooltip left">Hover over me
//   <span class="tooltip-text">Left Tooltip text</span>
// </span>
// <span class="tooltip right">Hover over me
//   <span class="tooltip-text">Right Tooltip text</span>
// </span>
// <span class="tooltip bottom">Hover over me
//   <span class="tooltip-text">Bottom Tooltip text</span>
// </span>